In [1]:
import os
import pandas as pd

#Import csv files
data_csv1 = os.path.join(".", "election_data_1.csv")
data_csv2 = os.path.join(".", "election_data_2.csv")

#Read the imported csv files
data_csv1_pd = pd.read_csv(data_csv1)
data_csv1_pd.head()

data_csv2_pd = pd.read_csv(data_csv2)
data_csv2_pd.head()

#Merge two imported csv files and assign new to data_file
data_file = pd.concat([data_csv1_pd,data_csv2_pd])
data_file

         Voter ID      County Candidate
0         1405627      Harsaw    Vestal
1         1711723  Mershville    Vestal
2         1550639  Matterdawn    Vestal
3         1042621      Harsaw    Vestal
4         1583965  Matterdawn    Vestal
5         1943299  Mershville    Vestal
6         1880982      Harsaw    Torres
7         1305689      Harsaw    Torres
8         1759114  Mershville    Vestal
9         1745020  Matterdawn      Seth
10        1562401      Harsaw    Vestal
11        1467337      Porpus    Torres
12        1091170  Matterdawn    Torres
13        1947604      Harsaw    Vestal
14        1400758  Mershville    Torres
15        1009045  Matterdawn    Vestal
16        1246891  Matterdawn    Cordin
17        1744120  Matterdawn    Vestal
18        1571939  Mershville    Vestal
19        1936895  Matterdawn    Vestal
20        1122582  Matterdawn    Torres
21        1307503  Mershville    Torres
22        1594030      Harsaw    Torres
23        1072081  Mershville    Torres
24        1368919  Mershville    Vestal
25        1954121      Harsaw    Torres
26        1427438  Matterdawn    Vestal
27        1049416      Porpus    Torres
28        1619112      Harsaw    Torres
29        1725473  Mershville    Vestal
...           ...         ...       ...
3520971  17923362       Marsh      Khan
3520972  11357988       Marsh      Khan
3520973  13741548       Marsh    Correy
3520974  19929693       Marsh      Khan
3520975  16441960       Marsh      Khan
3520976  19992954       Marsh  O'Tooley
3520977  13845046       Marsh      Khan
3520978  18550834       Marsh    Correy
3520979  17540334       Queen      Khan
3520980  11020483       Queen  O'Tooley
3520981  15912885     Trandee      Khan
3520982  12609301       Marsh      Khan
3520983  14774584       Marsh        Li
3520984  13283796       Marsh      Khan
3520985  13359648       Bamoo      Khan
3520986  17391173       Queen    Correy
3520987  18995053       Queen      Khan
3520988  11867516       Bamoo        Li
3520989  18589143       Marsh      Khan
3520990  12282098       Marsh      Khan
3520991  16950418       Marsh    Correy
3520992  13715415       Marsh      Khan
3520993  18129849       Marsh      Khan
3520994  15785886       Marsh    Correy
3520995  12890090       Marsh    Correy
3520996  18050509       Marsh      Khan
3520997  13060332       Marsh      Khan
3520998  16754708       Queen      Khan
3520999  12083146       Queen      Khan
3521000  14526187       Queen  O'Tooley

[4324001 rows x 3 columns]

In [3]:
#Calculate Total Number of Votes
Total_Votes = len(data_file)
Total_Votes

4324001

In [4]:
#Sum Votes per Candidate
Candidate_Total = data_file["Candidate"].value_counts()
Candidate_Total

Khan        2218231
Correy       704200
Li           492940
Vestal       385440
Torres       353320
O'Tooley     105630
Seth          40150
Cordin        24090
Name: Candidate, dtype: int64

In [5]:
#Calculate the Vote Percentage per Candidate
Percentage = Candidate_Total / Total_Votes
Percentage
#Format as Percentage
Percentage_Format = Percentage * 100
Percentage_Format

Khan        51.300428
Correy      16.285843
Li          11.400090
Vestal       8.913966
Torres       8.171136
O'Tooley     2.442876
Seth         0.928538
Cordin       0.557123
Name: Candidate, dtype: float64

In [6]:
#Find the Candidate with most votes
Winner = Candidate_Total.head(1)
Winner

Khan    2218231
Name: Candidate, dtype: int64

In [7]:
#Print out results
print("Election Results")
print("----------------------------------------")
print("Total Votes " + str(Total_Votes))
print("----------------------------------------")
print(Percentage_Format)
print("----------------------------------------")
print("Winner " + str(Winner)) 
print("----------------------------------------")

Election Results
----------------------------------------
Total Votes 4324001
----------------------------------------
Khan        51.300428
Correy      16.285843
Li          11.400090
Vestal       8.913966
Torres       8.171136
O'Tooley     2.442876
Seth         0.928538
Cordin       0.557123
Name: Candidate, dtype: float64
----------------------------------------
Winner Khan    2218231
Name: Candidate, dtype: int64
----------------------------------------

In [ ]:
#Print out results to Text
f = open("Winner.txt", "a")
print("Election Results")
print("----------------------------------------")
print("Total Votes " + str(Total_Votes))
print("----------------------------------------")
print(Percentage_Format)
print("----------------------------------------")
print("Winner " + str(Winner)) 
print("----------------------------------------")
f.close()